/* tree 1 */
.triangle1-1 {
	width: 0;
	height: 0px;
	border-left: 80px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 260px;
	left: 313px;

}

.triangle1-2 {
	width: 30px;
	height: 30px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 190px;
	left: 280px;

}

.triangle1-3 {
	width: 40px;
	height: 40px;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 110px;
	left: 250px;

}
.trunk1{
	height: 110px;
	width: 40px;
	background-color: #5d4607;
	position: absolute;
	bottom: 0;
	left: 380px;
}



/* tree 2 */

.triangle2-1 {
	width: 0;
	height: 0px;
	border-left: 80px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 260px;
	left: 700px;

}

.triangle2-2 {
	width: 30px;
	height: 30px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 190px;
	left: 670px;

}

.triangle2-3 {
	width: 40px;
	height: 40px;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 110px;
	left: 640px;

}
.trunk2{
	height: 110px;
	width: 40px;
	background-color: #5d4607;
	position: absolute;
	bottom: 0;
	left: 760px;
}

/* tree 3 */

.triangle3-1 {
	width: 0;
	height: 0px;
	border-left: 80px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 260px;
	left: 1070px;

}

.triangle3-2 {
	width: 30px;
	height: 30px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 190px;
	left: 1040px;

}

.triangle3-3 {
	width: 40px;
	height: 40px;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 110px;
	left: 1010px;

}
.trunk3{
	height: 110px;
	width: 40px;
	background-color: #5d4607;
	position: absolute;
	bottom: 0;
	left: 1140px;
}

/* tree 4 */

.triangle4-1 {
	width: 0;
	height: 0px;
	border-left: 80px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 260px;
	left: 1450px;

}

.triangle4-2 {
	width: 30px;
	height: 30px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 190px;
	left: 1420px;

}

.triangle4-3 {
	width: 40px;
	height: 40px;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
	border-bottom: 100px solid green;
	position: absolute;
	bottom: 110px;
	left: 1390px;

}
.trunk4{
	height: 110px;
	width: 40px;
	background-color: #5d4607;
	position: absolute;
	bottom: 0;
	left: 1520px;
}

