body {
        background-color: #e1e1f7;
        color: #9d9da3;
        font-size: 18px;
        font-family: helvetica , arial; 
}


h1 {
    font-size: 40px;
    color: white;
    font-family: didot, helvetica, arial; 
}


a{ 
    color: #9d9da3;
    font-size: 18px;
    position: relative;
    letter-spacing: 2px;
    text-decoration: underline;
    font-family: helvetica;
}

a:hover{
    background-color: white;
    transition: all .7s ease-in-out;
    transform: scale(1.1);
}

.top{
    width:3000px;
    height:4px;
    background-color: #bcbcfc;
    position: absolute;
    top: 110px;
    left: 00px;
}


.side{
    width:4px;
    height:2000px;
    background-color: #bcbcfc;
    position: fixed;
    top: 0;
    left: 200px;
    transform: rotate(90deg);
}


