body {
        background-color: black;
        color: White;
        font-size: 18px;
        font-family: didot, helvetica, arial; 
}
.top{
    width:650px;
    height:4px;
    background-color: #cbb8f4;
    position: absolute;
    top: 90px;
    left: 00px;
    
}
a { 
    color: white;
}
h1{
    font-size: 48px;
    color: white;
}
p {
    font-size: 18px;
    color: white;
}