body {
    background-color: black;
    color: white;
    
}

    h1 {
        color: white;
        font-size: 40px;
        font-family: didot, helvetica, arial; 
}

p{
    color: white;
    font-size: 18px;
    font-family: Helvetica, arial;
}

h3 {
    color:white;
    font-size: 20px;
    font-family: helvetica, arial;
}
.top{
    width:2000px;
    height:4px;
    background-color: #cbb8f4;
    position: absolute;
    top: 110px;
    left: 00px;
}

