body{
    background-color:#8fc1fa;
}

#box1{
    background-color: #7a5d34;
    height: 700px;
    width: 70px;
    top: 0;
    left: 10px;
    position: absolute;
}

#box2{
    background-color: #7a5d34;
    height: 150px;
    width: 10px;
    top: 0;
    left: 100px;
    position: absolute;
    -webkit-transform: rotate(50deg);
    
}
#box3{
    background-color: #7a5d34;
    height: 250px;
    width: 8px;
    top: -10px;
    left: 143px;
    position: absolute;
    -webkit-transform: rotate(105deg);
    
}
#box4{
    background-color: #4e3b20;
    height: 50px;
    width: 50px;
    border-radius: 90px;
    top: 450px;
    left: 15px;
    position: fixed;
}
#box5{
    background-color: #7a5d34;
	width: 70px; 
	height: 40px; 
	top: 650px;
	left: 10px;
    position: fixed;
	border-bottom: 60px solid transparent; 
	border-right:80px solid #8fc1fa; 
	-webkit-transform: rotate(3600deg);
}

#box6 {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 90px;
    top: 85px;
    left: 190px;
    position: fixed;
}

#box7 {
    width: 0;
    height: 0;
    border-style: solid;
    top: 90px;
    left: 209px;
    position: fixed;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #ffbf00;
}

#box8 {
    height:20px;
     width:40px;
     top: 103px;
     left: 167px;
     position: fixed;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     -webkit-transform: rotate(180deg);
     background:red;
}

#box9{
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 90px;
    top: 90px;
    left: 200px;
    position: fixed;
}

#box10{
    background-color: white;
    width: 1px;
    height: 1px;
    border-radius: 90px;
    top: 92px;
    left: 200px;
    position: fixed;
}

#box11{
    height:10px;
     width:25px;
     top: 108px;
     left: 172px;
     position: fixed;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     -webkit-transform: rotate(150deg);
     background: #d70000;
}


body { background-color:#8fc1fa; }
#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}

@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

